.swiper{
  max-width: 1024px !important;
}
.slide-wrapper{
  max-width: 1024px;
}
.slide-wrapper{
  justify-content: center;
}
.swiper-slide{
  max-width: 341px;
}
.swiper-slide img{
  object-fit: cover;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #333;
}